@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: Zulisa Rodriguez
   Date:   11/02/2024
   
   Filename: pc_grids.css

*/


/* Grid Rows Styles */

body {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

body > header {
   grid-row: 1;
   grid-column: 1/-1;
}

/* Grid Columns Styles */

section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

body > * {
   outline: 2px dashed red;
}

body > * {
   outline: 2px dashed blue;
}

/* Grid Outline Styles */





