@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Tutorial Case
   
   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: Zulisa Rodriguez
   Date:   11/02/2024
   
   Filename: pc_grids.css

*/


/* Grid Rows Styles */

body {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-areas: "header header"
                        "intro faq"
                        "articles faq"
                        "footer footer";
   
}

body > header {
   grid-row: 1;
   grid-column: 1/-1;
}

body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}

/* Grid Columns Styles */

section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 15px;
}

section > h1 {
   grid-area: 1/1/2/3;
}

/* Grid Outline Styles */





